html,body{
    height: 100%;
    background-color: white;
}

.Hsiik{
    flex-direction: row;
    height: 54px;
    max-width: 990;
    width: 100%;
    top:0;
    position: fixed;
    border-bottom: 1px solid #dbdbdb;
    align-items: center;
    justify-content: center;
}

.conteiner{
    padding: 0 20px;
    width: 100%;
    max-width: 990px;
    height: 54px;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.pesquisar{
    height: 28px;
    width: 215px;
    margin-left: 3%;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    display: flex;  
}

.pesquisar2{
    width: 100%;
    height: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    box-sizing: border-box;
    outline:none;
    padding: 3px 10px 3px 26px;
    justify-content: center;
    cursor: text;
}

.img{
    display: flex;
    width: 250px;
    margin-right: auto;
    padding-right: 6px;
}

#instagram{
    margin-top: 5px;
}

.botao{
    position: absolute;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
    flex-direction: row;
    justify-content: center;
}

.icones-pesquisar{
    left: -10px;
    display: inline; 
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.lupa{
    display: inline-block;
    background-image: url(/projetosemana1/SVG_s/lupa.png);
    background-position: -399px -321px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

.src-icon{
    display: inline-block;
    max-width: 140px;
}

.icons{
    display: inline;
    width: 265px;
    height: 22px;
    margin-left: 10%;
    padding-left: 6.3%;
    align-content: center;
    flex-direction: row;
}

.home{
    display: inline;
    position: relative;
}
.origami,.bussola,.cora,.perfil{
    margin-left: 19px;
    display: inline;
    position: relative;
}

.foto-perfil{
    display: inline-block;
    background-image: url(/projetosemana1/SVG_s/dog.jpg);
    background-position: -399px -321px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

div{
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
}

a{
    height: 22px;
    width: 22px;
}