html,body{
    height: 100%;
    background-color: white;
    margin: 0   ;
}

body, input, button{
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.main{
    width: 100%;
    height: 690px;
    padding: 0;
    top:54px;
    justify-content: center;
    align-items: center;
}
.geral{
    justify-content: normal;
    padding: 27px 20px 0px 20px;
    max-width: 935px;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 16px;
    box-sizing: content-box;
    -webkit-box-align: center;
}

.foto{
    background-image: url(https://i.imgur.com/rhWrRSA.jpg);
    display: inline;
    width: ;
}

.publi{
    max-width: 975px;
    height: 100%;
    display: inline;
    flex-direction: row;
    border: 1px solid #b3b3b3;
}

.Hsiik{
    flex-direction: row;
    height: 54px;
    max-width:100%;
    width: 100%;
    top:0;
    position: fixed;
    border-bottom: 1px solid #dbdbdb;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.conteiner{
    padding: 0 20px;
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    height: 54px;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    top: 0;
}

.pesquisar{
    height: 28px;
    width: 215px;
    margin-right: auto;
    margin-left: 58px;
    justify-content: center;
    align-items: center;
    display: flex;  
}

.pesquisar2{
    width: 100%;
    height: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    box-sizing: border-box;
    outline:none;
    padding: 3px 10px 3px 26px;
    justify-content: center;
    cursor: text;
}

.img{
    display: flex;
    width: 250px;
    margin-right: auto;
    padding-right: 6px;
}

#instagram{
    margin-top: 5px;
}

.botao{
    position: absolute;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
    flex-direction: row;
    justify-content: center;
}

.icones-pesquisar{
    left: -10px;
    display: inline; 
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}


.src-icon{
    display: inline-block;
    max-width: 140px;
}

.icons{
    display: block;
    width: 265px;
    height: 22px;
    margin-left: auto;
    padding-left: 5%;
    align-content: center;
    flex-direction: row;
}

.home{
    display: inline;
    position: relative;
}
.origami,.bussola,.cora,.perfil{
    margin-left: 15px;
    margin-right: 0px;
    display: inline;
    position: relative;
    width: 22px;
    height: 22px;
}

.foto-perfil{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: inline;
}

div,section{
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    margin: 0;
    padding: 0;
}

a{
    height: 22px;
    width: 22px;
}